*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color:#d4a373; */
    background-color: #bb9457;
    /* background-color: #99582a; */
    /* background-color: #7f5539; */
    /* background-color: #b08968; */
    /* background-color: #9EBC9F; */
    backdrop-filter: blur(5px);
    /* text-align: center; */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

   
}

.container {
    background-image: url("gameContainer.jpg");
    background-size: cover;
    border-radius: 20px;
    width:650px;
     height:650px;
    display:flex; 
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    padding: 50px;
}
#heading {
    display: flex;
}

#heading h1{
    font-family:cursive;
    font-weight:900;
    margin: 0 12px 0 8px;
    font-style: italic;
    text-shadow:
            -2px -2px 4px whitesmoke,
            2px -2px 4px rgb(243, 4, 4),
            -2px 2px 4px whitesmoke,
            2px 2px 4px rgb(243, 4, 4);
}

#logoX{
    width: 60px;
    height: 60px;
    background-image: url("imgX.jpg");
    background-size: contain;
}
#logoO {
     width: 60px;
     height: 60px;
    background-image: url("imgO.jpg");
    background-size: contain;
 }

#playerBox {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: larger;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border: 2px solid black; */

}
#player1-nameBox{
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    height: 32px;
    padding: 4px;
    padding-right: 20px;
    border-radius: 0 20px 20px 0;
    background-color: rgba(255, 255,255, 0.7);
}
#player2-nameBOX{
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    height: 33px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    padding-right: 20px;
    border-radius: 0 20px 20px 0;
}
#playerBox p {
    margin: 0 5px 0 5px;
    text-transform: capitalize;

}

#player1-box{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}
#player2-box {
    display: flex;
    height: 55px;
        justify-content: center;
        align-items: center;
}

#player1-img{
    width: 50px;
    height: 53px;
    background-image: url("player1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 2px solid black; */
}
#player2-img {
    width: 50px;
    height: 55px;
    background-image: url("player2.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    /* border: 2px solid black; */
}



.game {
    /* margin-top: 150px; */
    width: 345px;
    height: 345px;

   
    background-image: url("gameBox.jpg");
    filter: brightness(1.2);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 10px;
    border: 2px solid rgb(97, 87, 87);
    border-radius: 20px;
    
}

.box {
    font-family:cursive;
    height: 100px;
    width: 100px;
    background:transparent ;
    

    border-radius: 5px;
    border: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    font-size: 70px;
    /* color: #653239; */
    /* background-color: #ccc7b9; */

   
}

#redX{
    color: rgb(230, 139, 139);
        text-shadow:
            -2px -2px 4px rgb(243, 4, 4),
            2px -2px 4px rgb(243, 4, 4),
            -2px 2px 4px rgb(243, 4, 4),
            2px 2px 4px rgb(243, 4, 4);
}
#blueO{
    color: rgb(139, 218, 230);
    text-shadow:
        -2px -2px 4px rgb(5, 133, 238),
        2px -2px 4px rgb(5, 133, 238),
        -2px 2px 4px rgb(5, 133, 238),
        2px 2px 4px rgb(5, 133, 238);
}

.box:hover{
    cursor: pointer;
    background-color: rgba(255, 255,255, 0.1)
}

#restart-btn{
    border: 2px solid rgb(9, 84, 9);
    background-color: rgb(1, 109, 1);
    color: white;
    font-weight: 500;
    padding: 6px;
    border-radius: 15px;
    margin-right: 25px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

#quitBtn{
    border: 2px solid rgb(186, 1, 1);
    background-color: red;
    color: white;
    border-radius: 15px;
    padding: 6px;
    font-weight: 500;
    margin-left: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

#restart-btn:hover{
    background-color: rgb(5, 88, 5);
}

#quitBtn:hover {
    background-color:rgb(231, 3, 3);
}

/* /win popUp box */

.winPopUp{

    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, 0.1);
    /* background-color:rgba(0, 0,0, 0.4); */
    position: fixed;
    visibility:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.winMsg-Box{
    display: flex;
    width: 400px;
    height: 280px;
    background-color: rgba(255,255,255, 0.8);
    border: 4px solid rgb(196, 126, 4, 1);
    /* rgb(253, 222, 105, 1); */
    border-radius: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(196,126 ,4,1 );
    /* color: rgba(240, 180,24, 1); */
    font-size:25px;
    font-family: cursive;
    font-weight: 700;
    padding: 0 20px 20px 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

}
.victory-Img{
    width: 100px;
    height: 100px;
    background-image: url('xVictoryLogo.png');
    background-size: cover;
}

#btnBox{
    display: flex;
    width: 100%;
    height: 100%;
    
}

#playAgainBtn{
    border:2px solid rgb(1, 103, 1);
    background-color: green;
    color: white;
    border-radius: 15px;
    padding: 6px;
    font-weight: 500;
    margin-right: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
        cursor: pointer;

}

#mainMenuBtn{
    border: 2px solid rgb(186, 1, 1);
        background-color: red;
        color: white;
        border-radius: 15px;
        padding: 6px;
        font-weight: 500;
        margin-left: 15px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
            cursor: pointer;
}



/* form input box ... start game */


.inputPopUp{

    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0.1); */
    background-color:rgba(0, 0,0, 0.7);
    position: fixed;
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top:50px ; */
}
#vsBox{
    width: 100%;
    display:flex;
    justify-content: center;
}
.vsImage{
    width:200px;
    height: 65px;
    display: flex;
    /* border: 2px solid black; */
    background-image: url("vsImg3.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.inputBox{
    /* display: flex; */
    width: 380px;
    height: 380px;
    border: 4px solid rgb(196, 126, 4, 1);
    /* rgb(253, 222, 105, 1); */
    border-radius: 25px;
    /* flex-direction: column; */
    
    /* justify-content: space-evenly; */
    color: rgba(196,126,4,1);
    /* color: rgba(240, 180,24, 1); */
    font-size: 25px;
    font-family: cursive;
    font-weight: 700;
    padding: 20px 20px 20px 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    background-color: rgba(255, 255, 255, 0.8);
}

.inputBox input{
    width: 100%;
    height: 30px;
    padding: 12px;
    font-size: 18px;
    border-radius: 10px;
    

    /* border: 1px solid rgb(196, 126, 4, 1); */
    border: 2px solid rgba(168, 112, 8, 0.5);
    margin:15px 0;
    outline: none;
}
#startGameBtn{
    width: 100%;
    height: 30px;
    /* padding: ; */
    font-size: 16px;
    border-radius: 10px;
    /* border: 2px solid rgba(168, 112, 8, 0.5); */
    border: 2px solid rgb(1, 103, 1);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: rgb(7, 113, 7);
    margin-top: 25px;
}
#startGameBtn:hover{
    background-color: rgb(1, 104, 1);
}

